@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

:root { /* afecta todo el archivo*/
    /* Colores */
    --color-primary: #4391F0;
    --color-light: #F3F3F3;
    --color-text: #1f1f1f;

    /* Funtes */ 
    --font-titles: 'Hedvig Letters Serif', serif;
    --font-text: 'Instrument Sans', sans-serif;


    /* Sizes */ 
    --max-width: 964px;
    --padding-sec: 64px 16px;
    --max-width-xl: 1440px;
} 



/* css reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, a, p, li {
    text-decoration: none;
    color: inherit;
}

/* /css reset */


/* components */

/* btn components */

.btn {
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    border-radius: 38px;
    background-color: var(--color-text);
    color: white;
    transition: 0.2s;
}

.btn:hover {
    opacity: 80%;
}

.btn-text-arrow {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    border-radius: 38px;
    background-color: var(--color-text);
    color: white;
    gap: 10px;
    transition: 0.2s;
}

.btn-text-arrow:hover {
    opacity: 80%;
}

.btn-arrow {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    border-radius: 38px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-text);
    color: white;
    transition: 0.2s;
} 

.btn-text-arrow a {
    color: var(--color-light);
}

.btn-arrow:hover {
    opacity: 80%;
}

.btn-icon {
    height: 18px;
}

/* iconos */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


/* text styles */

h1, .h1 {
    font: 400 64px var(--font-titles);
    color: var(--color-text);
}

h2, .h2 {
    font: 32px 400 var(--font-titles);
    font-size: 32px;
    font-weight: 400;
    color: var(--color-text);
}

h3, .h3 {
    font: 400 24px var(--font-titles);
    color: var(--color-text);
}

h4, .h4 {
    font: 500 19px var(--font-text);
    color: var(--color-text);
}

p, .body {
    font: 400 15px var(--font-text);
    color: var(--color-text);
}

a, .links {
    font: 500 15px var(--font-text);
    color: var(--color-text);
}

/* containers */

.section {
    display: flex;
    margin: 0 auto;
    max-width: var(--max-width-xl); 
    padding: var(--padding-sec);
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
}


/* /components */



/* Main */

/* Header */

.header {
display: flex;
margin: 0 auto;
max-width: var(--max-width-xl);
padding: 32px; 
justify-content: space-between;
}

.header__logo {
    max-width: 92px;
}

.header__menu ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

/* /Header */



/* hero-banner */

.hero-banner {
    background-image: url(../media/img/Home-banner.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    min-height: 90vh;
}

.hero-banner__block {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding: 10px;
    gap: 16px;
}

.hero-banner__text {
    color: var(--color-light);
}

.hero-banner .btn {
    background-color: var(--color-light);
    color: var(--color-text);
}

/* /hero-banner */




/* about-us */



.about-us .container {
    display: flex;
    flex-flow: row wrap;
    gap: 64px;
    align-items: center;
}

.about-us__img {
    flex: 1 1 300px;
}

.about-us__content {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 300px;
    gap: 32px;
    align-items: start;
}

.about-us__title {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
}

.about-us a{
    text-decoration: underline;
}


/* /about-us */

/* hero-icon */
.hero-icons {
    
}
.hero-icons__block {
    
}
.hero-icons__card {
    
}
.hero-icons__card-title {
    
}

/* /hero-icon */
