@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

:root { /* afecta todo el archivo*/
    /* Colores */
    --color-primary: #4391F0;
    --color-light: #F3F3F3;
    --color-text: #1f1f1f;

    /* Funtes */ 
    --font-titles: 'Hedvig Letters Serif', serif;
    --font-text: 'Instrument Sans', sans-serif;


    /* Sizes */ 
    --max-width: 964px;
    --padding-sec: 64px 16px;

} 



/* css reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, a, p, li {
    text-decoration: none;
    color: inherit;
}

/* /css reset */


/* components */

.btn {
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    border-radius: 38px;
    background-color: var(--color-text);
    color: white;
}

.btn--text-arrow {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    border-radius: 38px;
    background-color: var(--color-text);
    color: white;
    gap: 10px;
}

.btn--arrow {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    border-radius: 38px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-text);
    color: white;
}

.btn-icon {
    height: 18px;
}




h1, .h1 {
    font: 400 64px var(--font-titles);
    color: var(--color-text);
}

h2, .h2 {
    font: 32px 400 var(--font-titles);
    font-size: 32px;
    font-weight: 400;
    color: var(--color-text);
}

h3, .h3 {
    font: 400 24px var(--font-titles);
    color: var(--color-text);
}

h4, .h4 {
    font: 500 19px var(--font-text);
    color: var(--color-text);
}

p, .body {
    font: 400 15px var(--font-text);
    color: var(--color-text);
}

a, .links {
    font: 500 15px var(--font-text);
    color: var(--color-text);
}

.section {
    display: flex;
    flex-flow: row wrap;
    padding: var(--padding-sec);
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
}


/* /components */




/* Main */


/* about-us */



.about-us .container {
    display: flex;
    flex-flow: row wrap;
    gap: 64px;
    align-items: center;
}

.about-us__img {
    flex: 1 1 300px;
}

.about-us__content {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 300px;
    gap: 32px;
    align-items: start;
}

.about-us .btn {
    gap: 10px;
}

.about-us__title {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
}



/* /about-us */