@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

:root { /* afecta todo el archivo*/
    /* Colores */
    --color-primary: #4391F0;
    --color-light: #F3F3F3;
    --color-text: #1f1f1f;

    /* Funtes */ 
    --font-titles: 'Hedvig Letters Serif', serif;
    --font-text: 'Instrument Sans', sans-serif;


    /* Sizes */ 
    --max-width: 964px;
    --padding-sec: 64px 16px;
    --max-width-xl: 1440px;
} 



/* css reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    width: 100%;
    border-radius: 5px;
}

h1, h2, h3, h4, h5, h6, a, p, li {
    text-decoration: none;
    color: inherit;
}


/* /css reset */


/* components */

/* btn components */

.btn {
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    border-radius: 38px;
    background-color: var(--color-text);
    color: var(--color-light);
    transition: 0.2s;
}

.btn:hover {
    opacity: 80%;
}

.btn-text-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    border-radius: 38px;
    background-color: var(--color-text);
    color: var(--color-light);
    gap: 10px;
    transition: 0.2s;
}


.btn-text-arrow:hover {
    opacity: 80%;
}

.btn-arrow {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    border-radius: 38px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-text);
    color: var(--color-light);
    transition: 0.2s;
} 

.btn-arrow:hover {
    opacity: 80%;
}

.btn-icon {
    height: 18px;
}

/* iconos */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


/* text styles */

h1, .h1 {
    font: 400 64px var(--font-titles);
    color: var(--color-text);
}

h2, .h2 {
    font: 32px 400 var(--font-titles);
    font-size: 32px;
    font-weight: 400;
    color: var(--color-text);
}

h3, .h3 {
    font: 400 24px var(--font-titles);
    color: var(--color-text);
}

h4, .h4 {
    font: 500 19px var(--font-text);
    color: var(--color-text);
}

p, .body, input, select, label {
    font: 400 15px var(--font-text);
    color: var(--color-text);
}

a, .link, li {
    font: 500 15px var(--font-text);
    color: var(--color-text);
}

/* containers */

.section {
    margin: 0 auto;
    max-width: var(--max-width-xl); 
    padding: var(--padding-sec);
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
}


.sub-banner {
    background-size: cover;
    background-position: center;
    display: flex;
    height: 300px;
    padding: 10px;
    gap: 10px;
    border-radius: 5px;
    align-items: center;
}

.sub-banner__title {
    display: flex;
    padding: 10px;
    gap: 16px;
    justify-content: center;

    & h2 {
        color: var(--color-light);
        text-align: center;
    }

    & h1 {
        color: var(--color-light);
        text-align: center;
    }
}


/* form */

input, select {
    padding: 16px 19px;
    border-radius: 100px;
    background-color: var(--color-light);
    color: var(--color-text);
    border: none;
    width: 100%;
}

input[type="submit"] {
    background-color: var(--color-primary);
    color: var(--color-light);

    &:hover {
        opacity: 80%;
    }

}

select {
    border-right: 19px solid #00000000;
}

/* /components */



/* Main */

/* Header */

.header {
display: flex;
margin: 0 auto;
max-width: var(--max-width-xl);
padding: 32px; 
justify-content: space-between;
}

.header img {
    border-radius: 0px;
}

.header__logo {
    max-width: 92px;
}

.header__menu ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

/* /Header */



/* hero-banner */

.hero-banner {
    display: flex;
    background-image: url(../media/img/Home-banner.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    min-height: 90vh;
}

.hero-banner__block {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding: 10px;
    gap: 16px;
}

.hero-banner__text {
    color: var(--color-light);
}

.hero-banner .btn {
    background-color: var(--color-light);
    color: var(--color-text);
}

/* /hero-banner */




/* about-us */



.hero-double__block{
    display: flex;
    flex-flow: row wrap;
    gap: 64px;
    align-items: center;
}

.hero-double__img {
    flex: 1 1 300px;
}

.hero-double__content {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 300px;
    gap: 32px;
    align-items: start;
}

.hero-double__title {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
}

.abt-txt {
    text-decoration: underline;
}

/* /about-us */

/* hero-icon */

.hero-icons__block {
    display: flex;
    flex-flow: row wrap;
}
.hero-icons__card {
    display: flex;
    flex-flow: column nowrap;
    max-width: 250px;
    flex: 1 1 150px;
    padding: 16px;
    gap: 16px;
}
.hero-icons__card-title {
    display: flex; 
    flex-flow: row nowrap;
    justify-content: start;
    gap: 16px;
}

/* /hero-icon */



/* services */


.services__block {
    display: flex;
    flex-flow: column nowrap;
    padding: 16px;
    gap: 16px;
    align-items: start;
}

.services__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 16px 0px;
    gap: 16px;
}

.services__card {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
}

.services__card img {
    max-height: 178px;
    object-fit: cover;
}


/* /services */


/* prices */


.prices__block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
}

.prices__card {
    background-color: var(--color-light);
    border-radius: 5px;
    color: var(--color-text);
    display: flex;
    flex-flow: column nowrap;
    padding: 32px;
    gap: 48px;
    transition: 0.3s;

}

.pcard2 {
    background-color: var(--color-text);
    color: var(--color-light);
}

.prices__content {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
    text-align: center;
}

.pcontent2 {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
    text-align: center;
}

    .pcontent2 h1, .pcontent2 h3 {
        color: var(--color-light);
    }

    .pcontent2 .btn-text-arrow {
        background-color: var(--color-light);
        color: var(--color-text);
    }

.prices__list {
    gap: 10px;
    justify-content: start;
    list-style: none;
}

.prices__card ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.prices__card li {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    align-items: center;
}

.pcard2 li {
    color: var(--color-light);
}

.red-icon {
    color: #E26868;
}

.prices__card:hover {
    transform: scale(1.01);
    box-shadow: 0px 5px 5px #1f1f1f50;
}

/* /prices */


/* contact */


.contact__block{
    display: flex;
    flex-flow: row wrap;
    gap: 64px;
    align-items: center;
}

.contact__map {
    flex: 2 1 300px;
    height: 530px;
}

.contact__map iframe {
    width: 100%;
    height: 100%;
}

.contact__content {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 300px;
    gap: 32px;
    align-items: start;
}

.contact__heading {
    display: flex;
    flex-flow: column nowrap;
    gap: 14px;
}

#contact__form {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
}


.form-privacy {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    gap: 16px;
    padding-left: 6px;
}

input[type="checkbox"] {
    height: 16px;
    width: auto;
}



.form-row {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* /contact */



/* blog */

.blog__block {
    display: flex;
    flex-flow: column nowrap;
    gap: 32px;
}

.blog__heading {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.blog__grid {
    display: grid;
    padding: 16px 0px;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.blog__card {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
}

/* /blog */




/* footer */

.footer {
    padding: 10px;
}

.footer__block {
    display: flex;
    flex-flow: column nowrap;
    max-width: var(--max-width-xl);
    background-color: var(--color-text);
    margin: 0 auto;
    padding: 32px;
    gap: 32px;
    border-radius: 5px;
}

.footer__up {
    display: flex;
    flex-flow: row  wrap;
    justify-content: space-between;
    padding: 16px 0px;
    gap: 16px;

    & img {
    height: 24px;
    max-width: 124px;
    border-radius: 0px;
    }
}

.footer__up ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    gap: 16px;
}

.footer__down {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    gap: 27px;
}

.footer__down a {
    color: var(--color-light);
}



/* /footer */


































/* services page */


/* services banner */

#services-banner {
    background-image: url(../media/img/Services-banner.webp);
}

/* /services banner */


/* /services page */









/* about-us page */


/* about-us banner */

#about-us-banner {
    background-image: url(../media/img/About-banner.webp);
}

/* /about-us banner */


/* wait */

.wait__block {
    display: flex;
    flex-flow: column nowrap;
    gap: 32px;
}

/* /wait */


/* /about-us page */







 
/* news page */


/* news banner */

#news-banner {
    background-image: url(../media/img/News-banner.webp);
}

/* /news banner */


/* /news page */











/* contact page */


/* contact banner */

#contact-banner {
    background-image: url(../media/img/Contact-banner.webp);
}

/* /contact banner */


/* /contact page */










/* single post page */


/* single post banner */

#post-banner {
    background-image: url(../media/img/post-banner.jpg);
}

/* /single post banner */


/* /single post page */



