* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}





@keyframes animation {
    0% {
        transform: translateY(0px);
        border-radius: 50%;
        background-color: #ee8049;
    }
    

    25% {
        transform: translateY(15rem);
        border-radius: 50%;
        background-color: #ee8049;
    }



    50% {
        transform: translateY(-15rem);
        border-radius: 0%;
        background-color: #ee8049;
    } 


    75% {
        transform: translateY(0px) rotate(180deg);
        border-radius: 0%;
        background-color: #a2c6f6;
    }


    100% {
        transform: translateY(0px) rotate(0deg);
        border-radius: 50%;
        background-color: #ee8049;
    }
}

@keyframes back {
    0% {
        background-color: aliceblue;
    }
    25% {
        background-color: aliceblue;
    }

    50% {
        background-color: aliceblue;
    } 

    75% {
        background-color: darkslategray;
    }
    
    100% {
        background-color: aliceblue;
    }
}



body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    animation: back 2s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
}


div {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    animation: animation 2s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
}